   <div class="container">
   	<h1 class="text-align-center title-super-size page-header">Willkommen bei Sponsormag!<br /><small>Dein Marktplatz für Events und Sponsoren</small></h1>
   	<div class="clearfix"></div>
   	 <a href="<%=new_user_registration_path%>"<button class="btn btn-large btn-primary btn-large span4 offset4" type="button">Sign Up Now!</button></a><div class="span4"></div>
   	 <br>
<div class="clearfix"></div>
<div class="clearfix2"></div>
   	 <ul class="thumbnails">
  <li class="span12">
  	    <a href="#" class="thumbnail"><br>
      <img data-src="holder.js/300x200" alt="" height="350px">
      <%=image_tag "http://placehold.it/690x550", class:"display-block"%>
      <br>
    </a>
  </li>
 </ul>
<!--3 boxes-->
<div class="row fluid">
			<div class="span3 text-align-center well offset120">
			<img src="http://placehold.it/100x100" class="img-circle">
			<h3 class="text-align-center">Einfach Event einstellen</h3>
			<p class="lead text-align-left">sample text here ... sample text here ... sample text here ... sample text here ... sample text here ... sample text here ... </p>
		</div>
			<div class="span3 text-align-center well offset20">
				<img src="http://placehold.it/100x100" class="img-circle">
			<h3 class="text-align-center">Gezielt Sponsor werden</h3>
				<p class="lead pull-left text-align-left">sample text here ... sample text here ... sample text here ... sample text here ... sample text here ... sample text here ... </p>
		</div>
			<div class="span3 text-align-center well offset20">
				<img src="http://placehold.it/100x100" class="img-circle">
			<h3 class="text-align-center">Aufmerksamkeit erregen</h3>
				<p class="lead text-align-left">sample text here ... sample text here ... sample text here ... sample text here ... sample text here ... sample text here ... </p>
		</div>
	</div>

<hr>
	<div class="hero-unit">
		<h3 class="text-align-center">Some of our Customer you need to know</h3>
		<p>get to know</p>
	</div>
	<a button class="btn btn-primary btn-large btn-block" type="button" href="/events/new">Beschreibe jetzt Dein Event</button></a><!--Button that links to the Create_New_Event_Form-->

<%=render'layouts/footer'%>
