<footer>
  <ul class="inline">
     <li class="pull-left">© 2012-2013 Sponsormag.</li>
   <!--<li class="pull-left"><img src="http://placehold.it/500x100" alt="Logo" width="140" class="footer-logo" /></li>-->
        <li class="pull-right"><a href="<%#=faq_path%>">Fragen & Antworten | </a></li> 
            <li class="pull-right"><a href="/prices">Preise | </a></li>
            <li class="pull-right"><a href="/contact">Kontakt | </a></li> 
            <li class="pull-right"><a href="<%#=privacy_path%>">Datenschutzerklärung | </a></li> 
            <li class="pull-right"><a href="<%#=terms_path%>">AGB | </a></li> 
            <li class="pull-right"><a href="/imprint">Impressum</a></li>
        </ul>
       
       </footer>